@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  height: 100%;
}


#root, #root > div, .content, .content > div {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

body {
  font-family: 'Poppins', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 34px;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}


@keyframes breath {
  0% {
    animation-timing-function: cubic-bezier(0.9647,0.2413,-0.0705,0.7911);
    transform: scale(0.9099999999999999);
  }

  51% {
    animation-timing-function: cubic-bezier(0.9226,0.2631,-0.0308,0.7628);
    transform: scale(1.02994);
  }

  100% {
    transform: scale(0.9099999999999999);
  }
}

